@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';
:root {
  --primary: #0072ff;
  --error: #e7195a;
}

body {
  background: #D3CCE3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-weight: bold;
}

header {
  background: #fff;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  text-decoration: none;
  color: #333;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

.workout-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
  text-transform: capitalize;
}
.workout-details p {
  padding: 3px 0;
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.workout-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}
 

label, input {
  display: block;
}

input {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px 0 10px 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

button {
  background-color: var(--primary);
  border: none;
  padding: 10px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

button:hover {
  background-color: #14795d;
}

.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

.new {
  text-align: center;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 22px;
}

input.error {
  border: 1px solid var(--error);
}

         
.btn-grad {
  background-image: linear-gradient(to right, #00c6ff 0%, #0072ff  51%, #00c6ff  100%);
  margin: 10px;
  padding:  0.375rem 0.75rem;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  font-size: 1rem;
  box-shadow: 0 0 20px #eee;
  border-radius: 0.375rem;
  border: 0;
  display: block;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

         
.btn-grad_delete {
  background-image: linear-gradient(to right, #3A1C71 0%, #D76D77  51%, #3A1C71  100%);
  margin: 10px;
  padding:  0.375rem 0.75rem;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  font-size: 1rem;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 0.375rem;
  border: 0;
  display: block;
}

.btn-grad_delete:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
